<div class="intro-main-container">
  <div class="intro-introduction">
    <div id="img-perfil">
      <img src="https://static.wikia.nocookie.net/characterprofile/images/f/f1/Monokuma_%28Danganroupa%29_render.png/revision/latest?cb=20231125072449" alt="Eu">
    </div>
    <div id="intro-nome-texto">
      <h1>Júlio Santos</h1>
      <h2>Desenvolvedor Fullstack Python e JS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
    </div>
  </div>

  <div class="intro-projects">
    <div id="intro-banner">
      <h1>Projeto em destaque</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
      <button>Ver Projeto</button>
    </div>

    <h1>Meus Projetos</h1>

    <ng-container *ngIf="shares$ | async as shares; else loading">
      <ul id="intro-projects-list-grid">
        <li *ngFor="let share of shares">
          <img [src]="share.img" alt="{{ share.name }}">
          <div class="p-4">
            <h6>{{ share.name }}</h6>
            <p>{{ share.desc }}</p>
            <button type="button" [routerLink]="['/projects']" [state]="{ project: share }" >Ver Projeto</button>
          </div>
        </li>
      </ul>
    </ng-container>

    <ng-template #loading>
      <p>Carregando projetos...</p>
    </ng-template>
  </div>
</div>
