<div class="intro-main-container">

  <!-- Introdução -->
  <div class="intro-introduction">
    <div id="img-perfil">
      <img src="https://pqtntsrfcboqeumitpoe.supabase.co/storage/v1/object/public/portimg/perfimg.png" alt="Eu">
    </div>
    <div id="intro-nome-texto">
      <h1>Júlio Santos</h1>
      <h2>Desenvolvedor Fullstack Python e JS</h2>
      <p>
        Bem-vindo ao meu portifólio! Sou desenvolvedor e psicólogo com amor pela Psicanálise e habilidades em Python, JavaScript e qualquer linguagem que eu possa aprender para continuar evoluindo. Aqui você vai encontrar um pouco do que criei e aprendi!
      </p>
    </div>
  </div>

  <!-- Projetos -->
  <div class="intro-projects">

    <!-- Banner do projeto em destaque -->
    <div *ngIf="featuredProject as banner" id="intro-banner" [ngStyle]="{'background-image': 'url(' + banner.img + ')'}">
      <div class="overlay"></div>
      <div class="banner-content">
        <h1>Projeto em destaque</h1>
        <p>{{ banner.name }}</p>
        <p>{{ banner.descur }}</p>
        <button [routerLink]="['/projects']" [state]="{ project: banner }">Ver Projeto</button>
      </div>
    </div>

    <h1 id="my-projects">Meus Projetos</h1>

    <!-- Lista de projetos -->
    <ng-container *ngIf="shares$ | async as shares; else loading">
      <ul id="intro-projects-list-grid">
        <li *ngFor="let share of shares">
          <img [src]="share.img" alt="{{ share.name }}">
          <div class="p-4">
            <h6>{{ share.name }}</h6>
            <p>{{ share.descur }}</p>
            <button type="button" [routerLink]="['/projects']" [state]="{ project: share }">Ver Projeto</button>
          </div>
        </li>
      </ul>
    </ng-container>

    <ng-template #loading>
      <p>Carregando projetos...</p>
    </ng-template>
  </div>
</div>
