

html, body {
  height: 100%;
  margin: 0;
}

body, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Faz o main crescer para empurrar o footer pra baixo */
}
